{% extends "PWLouvreBundle::layout.html.twig" %}

{% block title %}
  Confirmation - {{ parent() }}
{% endblock %}

{% block body %}

  {{ parent() }}

  <div class="topContainer">
    <h3>Récapitulatif</h3>
    <p> Date : {{ reservation.date|date("m/d/Y") }} - 
      {% if reservation.demi %}
        Journee entiere
      {% else %}
        Demi journée
      {% endif %}
    </p>
    <p class="total">Total : {{ reservation.prixTotal }} € </p>
    
  </div>

  {% for visitor in reservation.visitors %}
    <div class="well confirmationContainer">
      <h3>Ticket N° {{ loop.index }}</h3>
      <div class="row">
        <div class="col-sm-3"><b>Nom :</b> {{ visitor.nom }}</div>
        <div class="col-sm-3"><b>Prénom :</b> {{ visitor.prenom }}</div>
        <div class="col-sm-3"><b>Date de naissance :</b> {{ visitor.dateNaissance|date("d/m/Y") }}</div>
        <div class="col-sm-3"><b>Tarif :</b> {{ visitor.prix }} €</div>
      </div>

      {% if visitor.reduit == true %}
        <p class="tarifreduit"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Tarif réduit : un justificatif vous sera demandé à l'entrée du musée <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></p>
      {% endif %}
    </div>
  {% endfor %}

  
  {% if reservation.id %}
    <a type="button" class="btn btn-primary" href="{{ path('pw_louvre_home') }}">Effectuer une nouvelle commande</a>
  {% else %}
    <form action="{{ path('pw_louvre_validation') }}" method="POST">
      <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_m9XzhzTxE4uiwBGZ2fCBsywn"
      data-amount="{{ reservation.prixTotal }}00"
      data-name="Paiement"
      data-description=""
      data-image= "{{ asset('images/louvre_logo_checkout.png') }}"
      data-locale="auto"
      data-zip-code="false"
      data-label="Procéder au paiement"
      data-allow-remember-me = "false" 
      data-currency="eur">
    </script>
  </form>
  <a type="button" class="btn btn-danger" href="{{ path('pw_louvre_reservation') }}">
  Modifier
</a>
{% endif %}


{% endblock %}


