{% extends "PWLouvreBundle::layout.html.twig" %}

{% block title %}
  Confirmation - {{ parent() }}
{% endblock %}

{% block body %}

  {% for visitor in reservation.visitors %}
    <div class="well">
      <p>{{ visitor.nom }}</p>
      <p>{{ visitor.prenom }}</p>
      <p>{{ visitor.dateNaissance|date("d/m/Y") }}</p>
      <p>{{ visitor.prix }} €</p>
      {% if visitor.reduit == true %}
        <p><i>montrer justificatif</i></p>
      {% endif %}
    </div>
  {% endfor %}

  <div class="well">
    {{ reservation.date|date("m/d/Y") }}
    {{ reservation.prixTotal }}
    {% if reservation.demi %}
      <p>Journee entiere</p>
    {% else %}
      <p>Demi journé</p>
    {% endif %}


  </div>

  <form action="{{ path('pw_louvre_validation') }}" method="POST">
    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_m9XzhzTxE4uiwBGZ2fCBsywn"
    data-amount="{{ reservation.prixTotal }}00"
    data-name="Demo Site"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="false"
    data-label="Procéder au paiement"
    data-currency="eur">
  </script>
</form>

<a type="button" class="btn btn-primary" href="{{ path('pw_louvre_reservation') }}">
  Modifier
</a>
{% endblock %}


