{% extends "PWLouvreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css"></script>
  {% endblock %}
{% block body %}

  <h3 class="indexTitle">Musée du Louvre</h3>

<div class="well">

{% for message in app.session.flashbag.get('notice') %}

        <p>Message flash : {{ message }}</p>

      {% endfor %}

  {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}

  {{ form_errors(form) }}

  <div class="form-group indexForm">
    {{ form_label(form.date, "Date de la réservation", {'label_attr': {'class': 'control-label indexLabel'}}) }}
    {{ form_errors(form.date) }}
    <div>
      {{ form_widget(form.date, {'attr': {'class': 'form-control js-datepicker'}}) }}
    </div>
  </div>

  <div class="form-group indexForm">
    {{ form_label(form.nombre, "Nombre de visiteur", {'label_attr': {'class': 'control-label  indexLabel'}}) }}
    {{ form_errors(form.nombre) }}
    <div>
      {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group indexForm">
    {{ form_label(form.demi, "Durée de la visite", {'label_attr': {'class': 'control-label  indexLabel'}}) }}
    {{ form_errors(form.demi) }}
    <div>
      {{ form_widget(form.demi, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_rest(form) }}

  {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

  {% javascripts '@PWLouvreBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script>
    jQuery(document).ready(function() {
      $('.js-datepicker').datepicker({
        format: 'dd/mm/yyyy',
        startDate: 'd',
        language: 'fr',
        daysOfWeekDisabled: [0, 2],
        datesDisabled: ['01/05/yyyy','01/11/yyyy','25/12/yyyy']
      });
    });
  </script>
{% endblock %}