{% extends "PWLouvreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css"></script>
  {% endblock %}
{% block body %}


  <h3 class="indexTitle">Musée du Louvre</h3>

{% for message in app.session.flashbag.get('notice') %}

        <p>Message flash : {{ message }}</p>

      {% endfor %}
<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

  {{ form_row(form.date) }}
  {{ form_row(form.demi) }}
  {{ form_row(form.nombre) }}


  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_rest(form) }}

  {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

  <script>
    $.fn.datepicker.dates['fr'] = {
      days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
      daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
      daysMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa"],
      months: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre"],
      monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Juil", "Aoû", "Sep", "Oct", "Nov", "Dec"],
      today: "Aujourd'hui",
      clear: "Effacer",
      format: "dd/mm/yyyy",
      titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
      weekStart: 1
    };
    jQuery(document).ready(function() {
      $('.js-datepicker').datepicker({
        format: 'dd/mm/yyyy',
        startDate: 'd',
        language: 'fr',
        daysOfWeekDisabled: [0, 2],
        datesDisabled: ['01/05/yyyy','01/11/yyyy','25/12/yyyy']
      });
    });
  </script>
{% endblock %}