{% extends "PWLouvreBundle::layout.html.twig" %}

{% block title %}
  Réservation - {{ parent() }}
{% endblock %}

{% block body %}



  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}
<div class="hidden">
  {{ form_row(form.date) }}
  {{ form_row(form.demi) }}
  {{ form_row(form.nombre) }}
  {{ form_row(form.mail) }}
</div>

  {% for visitor in form.visitors %}

    <div class="well">
      <h3>Ticket</h3>
      {{ form_row(visitor.nom) }}
      {{ form_row(visitor.prenom) }}
      {{ form_row(visitor.pays) }}
      {{ form_row(visitor.dateNaissance) }}
      {{ form_row(visitor.reduit) }}

    </div>

  {% endfor %}
  
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_end(form) }}


{% endblock %}