{% extends "PWLouvreBundle::layout.html.twig" %}

{% block title %}
  Réservation - {{ parent() }}
{% endblock %}

{% block body %}

<p>Selectionner la date</p>
<p>Nombre de tickets</p>

{{ reservation.date|date("d/m/Y") }}
{{ reservation.nombre }}

<div class="well">

{{ form_start(form) }}
    

    <h3>Tags</h3>
    <ul class="tags">
        {# iterate over each existing tag and render its only field: name #}
        {% for visitor in form.visitors %}
            <li>{{ form_row(visitor.nom) }}</li>
        {% endfor %}
    </ul>
{{ form_end(form) }}

</div>
{% endblock %}