{% extends "PWLouvreBundle::layout.html.twig" %}

{% block title %}
  Réservation - {{ parent() }}
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css"></script>
  {% endblock %}
{% block body %}

  {{ parent() }}

  <div class="topContainer">
    <h3>Tarification</h3>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">Tarif normal : 16€</div>
        <div class="col-sm-4">Tarif enfant (4 à 11 ans) : 8€</div>
        <div class="col-sm-4">Tarif sénior (plus de 60ans) : 12€</div>
      </div>
      <div class="row">
        <div class="col-sm-4">Tarif réduit : 10€</div>
        <div class="col-sm-4">Enfant de moins de 4 ans : gratuit</div>
      </div>
    </div>
  </div>

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}
<div class="hidden">
  {{ form_row(form.date) }}
  {{ form_row(form.demi) }}
  {{ form_row(form.nombre) }}
</div>

  {% for visitor in form.visitors %}

    <div class="well reservationForm">
      <h3>Informations visiteur {{ loop.index }}</h3>
      <div class="row">
        <div class="col-sm-5">{{ form_row(visitor.nom) }}</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">{{ form_row(visitor.prenom) }}</div>
      </div>
      <div class="row">
        <div class="col-sm-5">{{ form_row(visitor.pays) }}</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">{{ form_row(visitor.dateNaissance) }}</div>
      </div>
      {{ form_row(visitor.reduit) }}
    </div>

  {% endfor %}
  
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary pull-right'}}) }}
  <a type="button" class="btn btn-danger " href="{{ path('pw_louvre_home') }}">Annuler</a>

  {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
  {% javascripts '@PWLouvreBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <script>
    jQuery(document).ready(function() {
      $('.js-datepicker').datepicker({
        format: 'dd/mm/yyyy',
        startView: 2,
        language: 'fr',
      });
    });
  </script>
{% endblock %}